<div class="main-wrapper">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>
                GEOCODE <mat-icon color="warn" style="font-size: 36px;">add_location_alt</mat-icon>
            </mat-card-title>
        </mat-card-header>

        <form class="material-form" autocomplete="off" #loginForm="ngForm" [formGroup]="form"
            (ngSubmit)="iniciarSesion()">

            <mat-card-content>
                <mat-form-field class="material-full-width">
                    <input type="text" matInput placeholder="Usuario" formControlName="usuario">
                </mat-form-field>

                <mat-form-field class="material-full-width">
                    <input type="password" matInput placeholder="Contraseña" formControlName="clave">
                </mat-form-field>
            </mat-card-content>

            <p class="send-passwd">
                <a [routerLink]="['/reseteo']">
                    <mat-icon style="font-size: 14px;">lock</mat-icon> ¿Olvidaste tu contraseña?
                </a>
            </p>

            <button type="submit" mat-raised-button color="warn" class="btn-block">
                <mat-icon>login</mat-icon> INICIAR SESIÓN
            </button>

            <p class="footer-card">No tienes una cuenta? <a [routerLink]="['/registro']">Regístrate aquí</a></p>
        </form>
    </mat-card>
</div>